  
  .container {
    text-align: center;
  }
  
  .screen {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    font-size: 20px;
  }
  
  .key {
    font-size: 2rem;
    width: 40px;
    margin: 0.5rem 0.1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 1px;
  }
  
  .fila1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .fila2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .fila3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  
  body {
    background-color: rgb(255, 255, 255);
    margin: 0;
  }
  
  div .informacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
  }
  
  .infoimage {
    display: flex;
    width: 48vw;
    height: 40vh;
    justify-content: center;
  }
  
  .info1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 0 0;
    width: 48vw;
    align-content: stretch;
    justify-content: flex-end;
    align-items: baseline;
  }
  
  div .infop {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .contenedor {
    text-align: center;
    /* background-color: rgb(1, 1, 89); */
    width: 100vw;
    margin: 0 auto 0;
    font-size: 1rem;
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
  }
  
  audio {
    height: 15px;
    width: 150px;
    /* background-color: rgb(1 1 89); */
    border: none;
  }
  
  #image {
    display: inline;
    max-width: 95%;
    margin: 10px 0px 10px 30px;
    border: solid;
    border-radius: 10px;
    box-shadow: 14px 5px 15px 0 rgba(20, 20, 20, 0.3),
      14px 5px 15px 0 rgba(20, 20, 20, 0.3);
  }
  
  #muestrapalabra {
    /* background-color: rgb(1, 1, 89); */
    color: rgb(0, 136, 255);
    font-size: 1.5rem;
    margin: 0.2rem;
  }
  
  #info {
    width: 90vw;
    margin: 0 auto;
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
    border-radius: 0.2rem;
    font-size: 1rem;
    text-align: center;
    padding: 0.3rem;
    color: rgb(236, 252, 10);
  }
  
  #usadas {
    border: solid;
    min-width: 34vw;
    font-size: 25px;
    text-align: center;
    color: rgb(0, 17, 255);
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
    /* background-color: rgb(9, 1, 54); */
    display: inline-block;
    margin: 0 0 0.5rem 0.5rem;
    padding: 0px 5px 0px;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.3em;
  }
  
  #letrasacertadas {
    border: solid;
    min-width: 34vw;
    font-size: 25px;
    text-align: center;
    color: rgb(21, 255, 0);
    padding-right: 10;
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
    background-color: rgb(9, 1, 54);
    display: inline-block;
    margin: 0 0 0.5rem 0.5rem;
    padding: 0px 5px 0px;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.3em;
  }
  
  #letraserradas {
    border: solid;
    min-width: 34vw;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 0, 0);
    padding-right: 10;
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
    background-color: rgb(9, 1, 54);
    display: inline-block;
    margin: 0 0 0.5rem 0.5rem;
    padding: 0px 5px 0px;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.3em;
  }
  
  h2 {
    font-size: 30px;
    text-align: center;
    color: red;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
  }
  
  h1 {
    margin:0 0 0 0;
    padding-top: 10px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-shadow: #000000 1px 0 10px;
  }
  
  .ingresarpalabra {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem auto 0 auto;
    font-size: 2rem;
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
  }
  
  
  #button {
    background-color: rgb(228, 0, 0);
    color: rgb(0, 0, 0);
    height: 30px;
    width: 60px;
    font-size: small;
  }
  
  #ganaste {
    color: rgb(21, 255, 0);
  }
  
  #perdiste {
    color: rgb(255, 0, 0);
  }
  
  /* #muestraresultado {
    position: fixed;
    top: 100px;
    margin: auto;
    width: 70vw;
    height: 50vh;
    background-color: rgba(18, 1, 117, 0.842);
    border: rgb(21, 255, 0) dashed;
    box-shadow: 5px 3px 5px rgb(0, 30, 255);
    text-align: center;
    font-size: 1.5rem;
  } */
  
  #reload {
    display:none;
    background-color: rgb(228, 0, 0);
    height: 28px;
    width: 120px;
    font-size: 16px;
    margin: auto;
  }
  
  .menu {
    position: relative;
    display: flex;
    text-align: center;
    margin-bottom: 1000px;
  }
  
  .escondida {
    display: inline;
    font-size: 2.5rem;
    color:#ffffff
  }
  
  
  @media screen and (max-width: 600px) {
    #usadas,
    #letrasacertadas,
    #letraserradas {
      font-size: 14px; /* Tamaño del texto en pantallas pequeñas */
    }
    .key {
      font-size: 1.5rem;
      width: 30px;
      margin: 0.3rem 0.1rem;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width: 350px) {
    #usadas,
    #letrasacertadas,
    #letraserradas {
      font-size: 14px; /* Tamaño del texto en pantallas pequeñas */
    }
    .key {
      font-size: 1rem;
      width: 20px;
      margin: 0.3rem 0.1rem;
      cursor: pointer;
    }
  }
  
  
  .container {
    text-align: center;
  }
  
  .screen {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    font-size: 20px;
  }
  
  .key {
    font-size: 2rem;
    width: 40px;
    margin: 0.5rem 0.1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 1px;
  }
  
  .fila1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .fila2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .fila3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  
  body {
    background-color: rgb(255, 255, 255);
    margin: 0;
  }
  
  div .informacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
  }
  
  .infoimage {
    display: flex;
    width: 48vw;
    height: 40vh;
    justify-content: center;
  }
  
  .info1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 0 0;
    width: 48vw;
    align-content: stretch;
    justify-content: flex-end;
    align-items: baseline;
  }
  
  div .infop {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .contenedor {
    text-align: center;
    /* background-color: rgb(1, 1, 89); */
    width: 100vw;
    margin: 0 auto 0;
    font-size: 1rem;
    /* box-shadow: 5px 3px 15px rgb(0, 30, 255); */
  }
  .titulo_ahorcado{
    color: white;
  }
  
  audio {
    height: 15px;
    width: 150px;
    background-color: rgb(1 1 89);
    border: none;
  }
  
  #image {
    display: inline;
    max-width: 95%;
    margin: 10px 0px 10px 30px;
    border: solid;
    border-radius: 10px;
    box-shadow: 14px 5px 15px 0 rgba(20, 20, 20, 0.3),
      14px 5px 15px 0 rgba(20, 20, 20, 0.3);
  }
  
  #muestrapalabra {
    background-color: rgb(1, 1, 89);
    color: rgb(0, 136, 255);
    font-size: 1.5rem;
    margin: 0.2rem;
  }
  
  #info {
    width: 90vw;
    margin: 0 auto;
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
    border-radius: 0.2rem;
    font-size: 1rem;
    text-align: center;
    padding: 0.3rem;
    color: rgb(236, 252, 10);
  }
  
  #usadas {
    border: solid;
    min-width: 34vw;
    font-size: 25px;
    text-align: center;
    color: rgb(0, 17, 255);
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
    background-color: rgb(9, 1, 54);
    display: inline-block;
    margin: 0 0 0.5rem 0.5rem;
    padding: 0px 5px 0px;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.3em;
  }
  
  #letrasacertadas {
    border: solid;
    min-width: 34vw;
    font-size: 25px;
    text-align: center;
    color: rgb(21, 255, 0);
    padding-right: 10;
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
    background-color: rgb(9, 1, 54);
    display: inline-block;
    margin: 0 0 0.5rem 0.5rem;
    padding: 0px 5px 0px;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.3em;
  }
  
  #letraserradas {
    border: solid;
    min-width: 34vw;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 0, 0);
    padding-right: 10;
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
    background-color: rgb(9, 1, 54);
    display: inline-block;
    margin: 0 0 0.5rem 0.5rem;
    padding: 0px 5px 0px;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.3em;
  }
  
  h2 {
    font-size: 30px;
    text-align: center;
    color: red;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
  }
  
  h1 {
    margin:10px 0 0 0;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-shadow: #000000 1px 0 10px;
  }
  
  .ingresarpalabra {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem auto 0 auto;
    font-size: 2rem;
    box-shadow: 5px 3px 15px rgb(0, 30, 255);
  }
  
  input {
    background-color: rgb(19, 1, 117);
    box-shadow: 5px 3px 5px rgb(0, 30, 255);
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    color: red;
    width: 10rem;
    margin: 0.1rem 0.5rem 0.5rem;
  }
  
  #button {
    background-color: rgb(228, 0, 0);
    color: rgb(0, 0, 0);
    height: 30px;
    width: 60px;
    font-size: small;
  }
  
  #ganaste {
    color: rgb(21, 255, 0);
  }
  
  #perdiste {
    color: rgb(255, 0, 0);
  }
  
  #muestraresultado {
    display: none;
    position: fixed;
    top: 100px;
    margin: auto;
    width: 70vw;
    height: 50vh;
    background-color: rgba(18, 1, 117, 0.842);
    border: rgb(21, 255, 0) dashed;
    box-shadow: 5px 3px 5px rgb(0, 30, 255);
    text-align: center;
    font-size: 1.5rem;
  }
  
  #reload {
    background-color: rgb(228, 0, 0);
    height: 28px;
    width: 120px;
    font-size: 16px;
    margin: auto;
  }
  
  .menu {
    position: relative;
    display: flex;
    text-align: center;
    margin-bottom: 1000px;
  }
  
  
  
  @media screen and (max-width: 600px) {
    #usadas,
    #letrasacertadas,
    #letraserradas {
      font-size: 14px; /* Tamaño del texto en pantallas pequeñas */
    }
    .key {
      font-size: 1.5rem;
      width: 30px;
      margin: 0.3rem 0.1rem;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width: 350px) {
    #usadas,
    #letrasacertadas,
    #letraserradas {
      font-size: 14px; /* Tamaño del texto en pantallas pequeñas */
    }
    .key {
      font-size: 1rem;
      width: 20px;
      margin: 0.3rem 0.1rem;
      cursor: pointer;
    }
  }
  