:root {
    /* Colores principales */
    --color-verde-tenis: #2ecc71; /* Fondo de secciones, botones destacados, etc. */
    --color-blanco: #ffffff; /* Fondos principales, texto destacado */
    --color-gris-claro: #ecf0f1; /* Fondos secundarios, separadores */
  
    /* Colores de acento */
    --color-azul-cielo: #3498db; /* Detalles y acentos */
    --color-naranja: #f39c12; /* Destacados y elementos de llamada a la acción */
  
    /* Color de texto */
    --color-negro: #2c3e50; /* Texto principal */
  
    /* Fuentes y otros estilos de texto */
    --fuente-principal: 'Arial', sans-serif; /* Puedes cambiar esto según tus preferencias de fuente */
    --tamanio-texto: 16px; /* Tamaño base del texto */
  
    /* Otros estilos */
    --radio-bordes: 8px; /* Radio de los bordes redondeados, ajusta según sea necesario */
  }
  /*
  Aplicación de colores en diferentes elementos
  body {
    background-color: var(--color-blanco);
    color: var(--color-negro);
    font-family: var(--fuente-principal);
    font-size: var(--tamanio-texto);
  }
  

  .section-container {
    background-color: var(--color-verde-tenis);
    color: var(--color-blanco);
  }
  

  .button-destacado {
    background-color: var(--color-naranja);
    color: var(--color-blanco);

  }
*/

body{
    background-color:#F8F9FA;
}

/* Nav Bar*/
.container-fluid {
    position: fixed;
    padding: 0.5rem;
    top: 0px;
    background-color: #f39c12;
    box-shadow: 1px 1px 7px rgb(104, 103, 103);
    z-index: 3;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a :hover{
    color: var(--color-azul-cielo);
}

.nav-icon {
    font-size: 1.5rem;
    padding: 1rem;
    color:#3498db
}

.header_buscar {
    box-shadow: 1px 3px 7px var(--color-azul-cielo);
    background-color: rgb(249, 170, 43);
    border: 1px solid white;
    color: white;    
}

.header_buscar:hover{
    background-color: var(--color-azul-cielo);
}

.header_buscar:focus {
    background-color: var(--color-azul-cielo);
    color: var(--color-blanco);
    
}

.header_buscar::placeholder {
    color: var(--color-blanco) 
}
.header_buscar {
    color: var(--color-blanco) 
}

.header_boton {
    background-color: rgb(249, 170, 43);
    border-radius: 10px;
    padding: 0.5rem;
    color:white
}

.header_boton:active {
    background-color:var(--color-verde-tenis)
}

.header_boton:hover {
    color:white
}

/* Carrousel*/
.carousel{
    margin-top: 20px;
    background-color:var(--color-verde-tenis);
    z-index: 0;
}

.carousel img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 7px black;
}

.mx-auto{
    overflow: hidden;
}

.carrouseltext{
    font-size: 5rem;
    text-shadow: 1px 1px 5px rgb(77, 77, 77);
    color: var(--color-naranja)
}

/* e Commerce*/
.ecommerce .card{
    box-shadow: 1px 1px 7px rgb(148, 148, 148);
}

.ecommerce img{
    border-radius: 10px;
    max-height: 300px;
    padding:2px 2px 2px 2px;
}

.card-img-top:hover{
    transition: 1s;
    filter: brightness(110%);
    transform: scale(1.5);
    z-index: 0;
}



.contenedorImage{
    overflow: hidden;
    z-index: 0;
}


/* Popup Ecomerce*/
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content {
    max-width: 100%; 
    margin: auto;
  }
  


/* Componente pricipal*/ 

.principal_section1 {
    background-color: #2ecc71;
    width: 100%;
}
.principal_section2 {
    background-color: #ffffff;
    width: 100%;
    height: 800px;
    overflow: scroll;

}
.principal_section3 {
    background-color: #f39c12;
    width: 100%;
    height: 200px;
}

.principal_section3 {
    background-color: var(--color-azul-cielo);
    width: 100%;
    height: 400px;
}



@media (max-width: 768px) {
    .h1.carrouseltext {
        font-size: 3rem;
       }
}