:root {
    /* Colores principales */
    --color-verde-tenis: #2ecc71; /* Fondo de secciones, botones destacados, etc. */
    --color-blanco: #ffffff; /* Fondos principales, texto destacado */
    --color-gris-claro: #ecf0f1; /* Fondos secundarios, separadores */
  
    /* Colores de acento */
    --color-azul-cielo: #3498db; /* Detalles y acentos */
    --color-naranja: #f39c12; /* Destacados y elementos de llamada a la acción */
  
    /* Color de texto */
    --color-negro: #2c3e50; /* Texto principal */
  
    /* Fuentes y otros estilos de texto */
    --fuente-principal: 'Arial', sans-serif; /* Puedes cambiar esto según tus preferencias de fuente */
    --tamanio-texto: 16px; /* Tamaño base del texto */
  
    /* Otros estilos */
    --radio-bordes: 8px; /* Radio de los bordes redondeados, ajusta según sea necesario */
  }
  /*
  Aplicación de colores en diferentes elementos
  body {
    background-color: var(--color-blanco);
    color: var(--color-negro);
    font-family: var(--fuente-principal);
    font-size: var(--tamanio-texto);
  }
  

  .section-container {
    background-color: var(--color-verde-tenis);
    color: var(--color-blanco);
  }
  

  .button-destacado {
    background-color: var(--color-naranja);
    color: var(--color-blanco);

  }
*/

.principal_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.my-atropos {
    width: 320px;
    height: 160px;
  }

body{
    background-color:#F8F9FA;
}

h1{
    /* background-color: var(--color-azul-cielo); */
    margin:0 0 0 0;
    padding-top: 10px;
    text-align: center;
    color: var(--color-blanco);
    font-size: 3rem;
    text-shadow: #000000 1px 0 7px;

}

h2{
    margin:30px 0 0 0;
    padding: 10px 0 5px 0;
    text-align: center;
    color: var(--color-negro);
    font-size: 30px;
    text-shadow: #545454 1px 0 3px;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }

.h1_ecommerce{
    margin-top: 20px;
    box-shadow: none;
}


/* Nav Bar*/
.container-fluid {
    position: fixed;
    padding: 0.5rem;
    top: 0px;
    background-color: #f39c12;
    box-shadow: 1px 1px 7px rgb(104, 103, 103);
    z-index: 3;
}

.navbar-brand {
    color: #ffffff;
    text-decoration: none;
}

.nav-link{
    color: var(--color-gris-claro);
}

.nav-link:hover{
    color: var(--color-blanco);
}

.navbar-toggler{
    color: #ffffff;
    border: 0.1rem solid white;
}



a:hover{
    color: var(--color-azul-cielo);
}

.nav-icon {
    font-size: 1.5rem;
    padding: 1rem;
    color:#3498db
}

.header_buscar {
    box-shadow: 1px 3px 7px var(--color-azul-cielo);
    background-color: rgb(249, 170, 43);
    border: 1px solid white;
    color: white;    
}

.header_buscar:hover{
    background-color: var(--color-azul-cielo);
}

.header_buscar:focus {
    background-color: var(--color-azul-cielo);
    color: var(--color-blanco);
    
}

.header_buscar::placeholder {
    color: var(--color-blanco) 
}
.header_buscar {
    color: var(--color-blanco) 
}

.header_boton {
    background-color: rgb(249, 170, 43);
    border-radius: 10px;
    padding: 0.5rem;
    color:white
}

.header_boton:active {
    background-color:var(--color-verde-tenis)
}

.header_boton:hover {
    color:white
}

p{
    font-size: 20px;
    color: var(--color-negro);
    padding: 0.5rem;
}

/* Carrousel*/
.carousel{
    margin-top: 20px;
    background-color:var(--color-verde-tenis);
    z-index: 0;
}

.carousel img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 7px black;
}

.mx-auto{
    overflow: hidden;
}

.carrouseltext{
    font-size: 5rem;
    text-shadow: 1px 1px 5px rgb(77, 77, 77);
    color: var(--color-blanco)
}

.carousel-indicators {
    display: none;
}

/* Componente pricipal*/ 

.principal_section1 {
    background-color: #2ecc71;
    width: 100%;
    margin-top: 40px;

}


  /* Sección 4 Ecommerce*/ 
.principal_section4 {
    background-color: var(--color-blanco);
    width: 100%;
}

  /* Sección 5  Juegos */ 
  .principal_section5 {
    padding-top: 1rem;
    background-color: var(--color-azul-cielo);
    width: 100%;
}

@media (max-width: 768px) {
    .h1.carrouseltext {
        font-size: 3rem;
       }
       .videosYoutube {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
}
}

/* Estilo base para el contenedor del video */
iframe {
    position: relative;
    width: 99%;
    height: auto;
    margin: 1rem 0;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(78, 78, 78)
  }

  .video_contenedor{
padding: 0.1rem;
margin: 1rem;
border: 1px ;
border-radius: 20px;

  }
  